.container{
  text-align: center;
}
.intro{
  padding-top: 150px;
  background-image: url(../img/h_img.jpg);
  color: white;
  height: 680px;
  font-size: 15px;
}
.services{
  background-image: url(../img/s_image.jpg);
  color: white;
  height: 370px;
  padding-top: 70px;
}
.contact{
  background-image: url(../img/c_image.jpg);
  color: white;
}
h1{
  font-size: 60px;
}
.portfolio{
  align-items: center;
  padding-inline: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.wedo{
  padding-bottom: 50px;
  text-align: center;
}
.form1{
  float: left;
  width: 40%;
  margin-left: 100px;
  background-color: transparent;
}
.form2{
  float: right;
  width: 40%;
  margin-right: 100px;
  background-color: transparent;
}
.message{
  align-content: center;
  float: inherit;
  margin-left: 150px;
  margin-right: 150px;
  height: 380px;
  color: antiquewhite;
}
#message{
  background-color: transparent;
  color: aliceblue;
  height: 280px;
}
.row{
  padding-bottom: 20px;
  padding-inline: 20px;
}
.image{
  padding-top: 140px;
}
.about{
  height: 290px;
}
.icons{
  height: 150px;
  padding-top: 80px;
}
#name{
  background-color: transparent;
  color: antiquewhite;
}
#email{
  background-color: transparent;
  color: antiquewhite;
}
.design-hidden{
  display: none;
}
.dev-hidden{
  display: none;
}
.product-hidden{
  display: none;
}
.do{
  padding-top: 30px;
  padding-bottom: 30px;
}