.container{
  text-align: center;
}
.intro{
  background-image: url(../img/h_img.jpg);
  color: white;
}
.services{
  background-image: url(../img/s_image.jpg);
  color: white;
}
.contact{
  background-image: url(../img/c_image.jpg);
  color: white;
}
h1{
  font-size: 60px;
}