.container{
  text-align: center;
}
.intro{
  padding-top: 70px;
  background-image: url(../img/h_img.jpg);
  color: white;
  height: 600px;
}
.services{
  background-image: url(../img/s_image.jpg);
  color: white;
}
.contact{
  background-image: url(../img/c_image.jpg);
  color: white;
}
h1{
  font-size: 60px;
}
.portfolio{
  align-items: center;
  padding-inline: 20px;
}
.wedo{
  padding-bottom: 50px;
}
.form1{
  float: left;
  width: 40%;
  margin-left: 40px;
}
.form2{
  float: right;
  width: 40%;
  margin-right: 40px;
}
.message{
  align-content: center;
  float: inherit;
  margin-left: 40px;
  margin-right: 40px;
  height: 600px;
}
#message{
  height: 400px;
  background-color: transparent;
}
.row{
  padding-bottom: 20px;
  padding-inline: 20px;
}
